.tmp13-banner-container{
    height: 400px;
    margin: 10px 1px 10px 10px;
    border-radius: 5px;
    position: relative;
}

@media only screen and (min-width: 0px) and (max-width:992px) {
    .tmp13-banner-container{
        display: none
    }
}
