.tmp11-all-search-products-container{
    display: grid;
    grid-template-columns: 15% 85%;
    /* padding-top: 10px; */
}
.tmp11-all-search-products-inner{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 10px;
}
.tmp11-search-products-container{
    position: sticky !important;
    top: 88px;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 0px 4px 0 rgb(0 0 0 / 8%);
    padding: 10px;
    height: 100vh;
    /* position: relative; */
}
.tmp11-all-search-products-btn {
    width: 100%;
    display: block;
    padding: 10px 0px;
    text-transform: capitalize;
    background: transparent;
    border: none;
    letter-spacing: 0.1rem;
    color: #4b5563;
    cursor: pointer;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid transparent;
}

.tmp11-all-search-products-btn-active{
    /* border-bottom: 1px solid #009f7f; */
    /* color: #009f7f; */
    transition: 0.5s;
}
.tmp11-search-products-dropdown-content {
    display: none;
    width: 20vw;
    /* max-height: 400px; */
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* padding: 30px; */
    left: 90%;
    top: -38px;
    overflow-y: auto;
    /* -moz-column-count: 1;
    column-count: 1; 
     -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;  */
}
.tmp11-search-products-dropdown-container:hover .tmp11-search-products-dropdown-content {display: block}
@media only screen and (min-width:1200px) and (max-width:1500px) {
    .tmp11-all-search-products-inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width:768px) and (max-width:1200px) {
    .tmp11-all-search-products-inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width:0px) and (max-width:768px) {
    .tmp11-all-search-products-inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:0px) and (max-width:992px) {
    .tmp11-search-products-container{
        display:none !important;
    }
    .tmp11-all-search-products-container{
        display: flex !important;
        flex-direction: column !important;
    }
}
