.tmp8-products h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}
.tmp8-products-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
@media only screen and (min-width: 1200px) and (max-width:1400px) {
    .tmp8-products-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 992px) and (max-width:1200px) {
    .tmp8-products-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 0px) and (max-width:992px) {
    .tmp8-products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}