.tmp15-offers-container{
    padding: 10px 20px 8px;
    margin-bottom: 40px;
    box-shadow: 0 0px 4px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    border-radius: 8px;
}
.tmp15-offers-container h3{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
}
.tmp15-offers-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.tmp15-offers{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.tmp15-offers-btn{
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 3px;
    /* background-color: var(--color10) ; */
    color: #fff;
    border: none;
    outline: none;
    margin: 5px 0px 13px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .tmp15-categories-container{
        padding: 0px 20px;
    }
    .tmp15-offers{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 0px) and (max-width:768px) {
    .tmp15-offers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tmp15-offers-title button{
        width: 108px;
        font-size:13px
    }
    .tmp15-offers-title img{
        width: 30% !important;
    }
}