.tmp16-foryou-summery-container{
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #f2f3f8;
}

.tmp16-foryou-summery-container .tmp16-foryou-summery-image{
    position: relative;
}
/* .tmp16-foryou-summery-container .tmp16-foryou-summery-image:hover .image img{
    transform: scale(1.1);
    transition: 1s;
} */
.tmp16-foryou-summery-container .image{
   width: 200px;
   height: 200px;
   margin: 0 auto;
   overflow: hidden;
}
.tmp16-foryou-summery-container .image img{
    /* display: inline-block; */
    width: 100%;
    /* height: auto; */
    /* vertical-align: middle; */
}
.tmp16-foryou-summery-container h4{
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    /* color: #a1a1a1; */
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     overflow: hidden;
     margin-bottom: 0px
}

.tmp16-foryou-summery-container p{
    font-size: 15px;
    font-weight: bold;
    color: #a1a1a1;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin: 0px;
    text-transform: uppercase;
}


.tmp16-foryou-summery-container .hot{
    color: #fff;
    font-size: 12px;
    width: 45px;
    height: 25px;
    text-transform: uppercase;
    /* background: #fdd922; */
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.tmp16-foryou-summery-container .tmp16-foryou-add-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* .tmp16-foryou-summery-container:hover .tmp16-foryou-add-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
} */
.tmp16-foryou-summery-container .tmp16-foryou-add-btn button{
   color: #fff;
   padding: 6px 8px;
   margin: 0px auto 10px;
   font-size: 12px;
   border-radius: 5px;
   border: none;
   outline: none;
}

/* hover box */
.tmp16-foryou-summery-container .hover-box{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background: #2c3e50; */
    opacity: 0;
    transition: 0.6s linear;
}

.tmp16-foryou-summery-container .hover-box ul{
    padding-left: 0;
	position: absolute;
	top:20%;
	left:85%;
	transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 17px;
}
.tmp16-foryou-summery-container .hover-box ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* border-radius: 50%; */
    /* background-color: #2bbef9; */
    list-style: none;
    /* display:inline-block; */
    margin-bottom: 10px;
}
.tmp16-foryou-summery-container .hover-box ul button{
    border: none;
    background-color: transparent;
    color: #fff;
}

.tmp16-foryou-summery-container:hover{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 40%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    transition: 1s;
}
.tmp16-foryou-summery-container:hover .hover-box{
    opacity: 1;
}
.tmp16-foryou-summery-container:hover .hover-box ul li{
    opacity: 1;
}
@media only screen and (max-width:1400px) {
    .tmp16-foryou-summery-container .tmp16-foryou-add-btn{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tmp16-foryou-summery-container .tmp16-foryou-add-btn button{
        width: 100%;
     }
} 
@media only screen and (min-width: 1200px) and (max-width:1400px) {
    .tmp16-foryou-summery-container .image{
        width: 170px;
        height: 170px;
    }
} 
@media only screen and (min-width: 992px) and (max-width:1200px) {
    .tmp16-foryou-summery-container .image{
        width: 292px;
        height: 292px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
    .tmp16-foryou-summery-container .image {
        height: 160px;
        width: 160px;
    }
    .tmp16-foryou-view-details-btn{
        display: none !important;
    }
}