.tmp12-banner-container{
    /* background-image: url('https://i.ibb.co/mNLWZWX/grocery.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.tmp12-banner-container h1{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -.025em;
    font-weight: 700;
    font-family: Open Sans,system-ui,sans-serif;
}
.tmp12-banner-container p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #1f2937;
    margin: 25px 0px;
}

.tmp12-banner-container .search{
    position: relative;
}
.tmp12-banner-container .search input{
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 542px;
    /* box-shadow: rgba(0,0,0,0.05) 0px 21px 36px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px 17px;
    /* color: grey; */
    font-size: 18px;
}
.tmp12-banner-container .search-btn {
    width: 80px;
    height: 47px;
    /* background: #009f7f; */
    border-radius: 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    margin: 15px 0px;
    transition: all .4s ease-in-out;
    margin-top: 10px;
    padding-top: 3px;
}

@media only screen and (min-width: 0px) and (max-width:992px) {
    .tmp12-banner-container{
        display: none
    }
}
